git+https://github.com/neptune-ai/neptune-client.git@master

Faker
pylint
pylintfileheader
pytest
pytest-tap
# integrations
neptune-pytorch-lightning
torchvision
fastai>=2.4
neptune-fastai
boto3

# bugfixes
pillow==8.2.0  # https://forums.fast.ai/t/runtimeerror-could-not-infer-dtype-of-pilimage/89697, https://stackoverflow.com/a/68239032/1565454
